body{

    margin: 0;
    padding: 0;
    background-color:#fff;
    font-family:"Arial", sans-serif;
    font-size:18px;
    color:#404040;
    line-height:24px;
}

.page-header,
.page-footer {
    background-color:#363636;
    color:#c3c3c3;
    padding: 10px;
}
.page-footer {
    margin-top: 20px;
}

/*Стили меню*/

.main-nav {
    list-style: none;
}

.main-nav li {
    text-transform: uppercase;
}

.main-nav li a{
    text-decoration: none;
    color: #fff;
}
.main-nav li a:hover{
    text-decoration: underline;
}
.main-nav li a:active{
    color: rgba(255, 255, 255, 0.3);
}

/*Стили кнопок*/
.btn{
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    color: #8d745a;
}

.btn:active{
    color: rgba(141, 116, 90, 0.3);
}

/*Стили прайса*/
.price-list {
    width: 100%;
    border-collapse: collapse;
}

.price-list th {
    font-weight: normal;
    text-align: left;
}

.price-list td {
    border: 1px solid #333333;
}

.price-list th,
.price-list td {
    padding: 5px 10px;
}

.price-list .price-number {
    text-align: center;
}

.price-list .price-name {
    font-weight: bold;
}

.feedback-form-group {
    padding: 10px 0;
}